@font-face {
  font-family: "Inter";
  src: url("fonts/inter/inter.ttf");
}

@font-face {
  font-family: "Iosevka";
  src: url("fonts/iosevka/iosevka.ttf");
}

body {
  font-family: "Inter", sans-serif;
  margin: auto;
  padding: 1em;
  max-width: 720px;
  text-align: justify;
  color: #ffffff;
  background-color: #282830;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: #aaaaff;
}

a:visited {
  color: #ffaaff;
}

img {
  display: block;
  width: 50%;
  margin-inline: auto;
}

code, pre {
  font-family: "Iosevka", monospace;
}

pre {
  padding: 0.25em;
  border: 2px solid #ffffff;
  overflow-x: scroll;
  background-color: #282828;
  font-size: 18px;
}

p.note {
  font-size: 10px;
  text-align: center;
}

img.motion-alt {
  display: none;
}

@media (prefers-reduced-motion) {
  img.motion {
    display: none;
  }

  img.motion-alt {
    display: block;
  }
}
