@font-face {
  font-family: "Inter";
  src: url("fonts/inter/var.ttf");
}

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata/var.ttf");
}

body {
  font-family: "Inter", sans-serif;
  margin: auto;
  max-width: 720px;
  text-align: justify;
  color: #ffffff;
  background-color: #282830;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
}

a {
  color: #aaaaff;
}

a:visited {
  color: #ffaaff;
}

img {
  display: block;
  width: 50%;
  margin-inline: auto;
}

code, pre {
  font-family: "Inconsolata", monospace;
}

pre {
  padding: 1em;
  border: 2px solid #ffffff;
  overflow-x: scroll;
  background-color: #282828;
}

code span.ct, pre span.ct {
  color: #88eeee;
}

code span.cc, pre span.cc {
  color: #88ee88;
}

img.motion-alt {
  display: none;
}

@media (prefers-reduced-motion) {
  img.motion {
    display: none;
  }

  img.motion-alt {
    display: block;
  }
}
